            <!-- Page Header Start -->
            <div class="container py-5 px-2 bg-primary">
              <div class="row py-5 px-4">
                  <div class="col-sm-6 text-center text-md-left">
                      <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Leer Más</h1>
                  </div>
                  <div class="col-sm-6 text-center text-md-right">
                      <div class="d-inline-flex pt-2">
                          <h4 class="m-0 text-white"><a class="text-white" href="">Home</a></h4>
                          <h4 class="m-0 text-white px-2">/</h4>
                          <h4 class="m-0 text-white">Read</h4>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Page Header End -->


          <!-- About Start -->
          <div class="container bg-white pt-5">
              <div class="row px-3 pb-5">
                  <div class="col-md-12">
                      <h2 class="mb-4 font-weight-bold">Aseguradora Solidaria de Colombia</h2>
                      <img class="img-fluid float-left w-50 mr-4 mb-3" src="assets/img/blog-11.jpg" alt="Image">
                      <p class="m-0">
                        •	Diseñe desarrolle e implemente la Intranet (Plataforma: Visual Studio 2005, Base de datos: SQL Server 2000). Sistema para enlazar las páginas web de la compañía y centralizarlas en una sola, logrando así que las demás áreas puedan publicar sus noticias.
                        •	Participé, apoye y desarrolle en el aplicativo SgCalidad (Plataforma: Visual Studio 2005, Base de datos: SQL Server 2000), aplicativo que va orientado al área de calidad. Permite la creación de acciones correctivas y preventivas logrando que las personas envueltas en un plan de acción tomen las decisiones correctas para lograr a si un mejor desempeño de las áreas que intervine.
                        •	Diseñe desarrolle e implemente el aplicativo SgHumana (Plataforma: Visual Studio 2005, Base de datos: SQL Server 2000), actualiza datos u hoja de vida de los empleados en una empresa llevando un control de la información del personal.

                      </p>
                  </div>
                  <div class="col-md-12 pt-4">
                      <div class="d-flex flex-column skills">
                          <div class="w-100 mb-4">
                            <ngb-progressbar type="primary" [value]="80" [striped]="true" [animated]="true">Adaptability</ngb-progressbar>
                          </div>
                          <div class="w-100 mb-4">
                            <ngb-progressbar type="danger" [value]="90" [striped]="true" [animated]="true">Research</ngb-progressbar>
                          </div>
                          <div class="w-100">
                            <ngb-progressbar type="primary" [value]="100" [striped]="true" [animated]="true">Editing</ngb-progressbar>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- About End -->
