<div *ngIf="opcion == 1">
    <h4>Listo ya! estas inscripto</h4>
    <span>Email</span>:<b>{{email}}  </b>
    <br>
    <span>Opcion</span>:<b>{{opcion}}  </b>
</div>

<div *ngIf="opcion == 2">
    <h4>Informacion del correo enviado</h4>
    <span>Nombre</span>:<b>{{nombre}}  </b>
    <br>
    <span>Email</span>:<b>{{email}}  </b>
    <br>
    <span>Subject</span>:<b>{{subject}}  </b>
    <br>
    <span>Mensaje</span>:<b>{{mensaje}}  </b>
    <br>
    <span>Opcion</span>:<b>{{opcion}}  </b>
</div>
