            <!-- Page Header Start -->
            <div class="container py-5 px-2 bg-primary">
              <div class="row py-5 px-4">
                  <div class="col-sm-6 text-center text-md-left">
                      <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Plaraformas conocidas</h1>
                  </div>
                  <div class="col-sm-6 text-center text-md-right">
                      <div class="d-inline-flex pt-2">
                          <h5 class="m-0 text-white"><a class="text-white" href="">Herramientas</a></h5>
                          <h5 class="m-0 text-white px-2">/</h5>
                          <h5 class="m-0 text-white">Plaraformas conocidas</h5>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Page Header End -->


          <!-- About Start -->
          <div class="container bg-white pt-5">
              <div class="row px-3 pb-5">
                  <div class="col-md-12">                      
                      <h5 class="mb-4 font-weight-bold">Las siguientes herramientas y plataformas las conozco y las manejo:</h5>
                      <p class="title-buscar"> Conocimientos General</p>     
                     <div class="input-group m-5">
                      <div *ngFor="let item of herramientasService.lstherramienta"  class="bootstrap-tagsinput">
                        <span class="tag label label-info">
                            {{item.nombre}}
                          <span data-role="remove">
                          </span>
                        </span>
                      </div>
                    </div>
                    <p class="title-buscar"> Conocimientos y habilidades</p>   
                    <div class="input-group m-5">
                      <div *ngFor="let item of herramientasService.lsttipoHerramienta"  class="bootstrap-tagsinput">                       
                        <span class="tag label label-info">
                          <i [class]="item.icono"></i>
                          {{item.nombre}}
                          <span data-role="remove">
                          </span>
                        </span>
                      </div>
                    </div>

                    <p class="title-buscar"> ¿Qué trabajo busco?</p>

                    <ul *ngFor="let item of herramientasService.empleoBusco" class="list-bullet" style="list-style: none;">
                      <li>{{item.cargo}}</li>
                      <li>{{item.area}}</li>
                      <li>{{item.rama}}</li>
                      <li>{{item.ciudad}}</li>
                      <li>{{item.tipocontrato}}</li>
                      <li>{{item.salariomin}}</li>
                      <li>{{item.solicitud}}</li>
                     </ul>

                      <!-- <h5>Herramientas base de datos</h5>
                      <ul>
                        <li>Esto</li>
                        <li>Lo otro</li>
                        <li>Lo de más allá</li>
                       </ul>
                      <h5>Front End</h5>
                      <ul>
                        <li>Esto</li>
                        <li>Lo otro</li>
                        <li>Lo de más allá</li>
                       </ul>
                       <h5>Back End</h5>
                      <ul>
                        <li>Esto</li>
                        <li>Lo otro</li>
                        <li>Lo de más allá</li>
                       </ul>
                      <h5>Modelado de Software</h5>
                      <ul>
                        <li>Esto</li>
                        <li>Lo otro</li>
                        <li>Lo de más allá</li>
                       </ul>
                       <h5>Generador de Reportes</h5>
                       <ul>
                         <li>Esto</li>
                         <li>Lo otro</li>
                         <li>Lo de más allá</li>
                        </ul> -->

                       


                      <!-- <br>

                      <h5>Tecnólogo de Sistemas y Computadores</h5>                    
                      <h6>Corporación politécnica de la costa Atlántico </h6>
                      <h6>Barranquilla 2000</h6>
                      <br>
                      <br>
                      <h5 class="mb-4 font-weight-bold">CURSOS Y SEMINARIOS </h5>
                      <p>
•	Inglés Nivel A2
Master Michigan 2020(Actual)
•	Desarrollo para aplicaciones móviles sobre Android
Aula Matriz 2019
•	Metodologías de análisis y diseño de sistemas-de la incepción al diseño de la arquitectura 
SENA, 2012
•	Administración de redes bajo el sistema operativo Windows NT
PENTANET, 2003
•	Diseño y administración de páginas web
PENTANET, 2003
•	Programación en visual Fox pro y visual Basic
PENTANET, 2003
•	Programación en jquery 
INTERGRUPO, 2011
•	REINGENIERIA, Seminario de grado para recibir el titulo de tecnólogo de sistema y computadores.
Corporación politécnica de la costa Atlántico 
Barranquilla, 2000. 
•	MANTENIMIENTO DE COMPUTADORES, Seminario de grado para recibir el titulo de tecnólogo de sistema y computadores.
Corporación politécnica de la costa Atlántico 
Barranquilla, 2000.
•	ADMINISTRACION DEL SISTEMA OPERATIVO UNIX, Seminario de grado para recibir el titulo de tecnólogo de sistema y computadores.
Corporación politécnica de la costa Atlántico 
Barranquilla, 2000.
•	PROCESO Y TRANSMISION DE PAQUETES BAJO C++, Seminario de grado para recibir el titulo de Ingeniero de sistemas.
Universidad Autónoma de Colombia
Bogotá D.C. 2002
•	TELEMATICA Y CABLEADO ESTRUCTURADO, Seminario de grado para recibir el titulo de Ingeniero de sistemas.
Universidad Autónoma de Colombia
Bogotá D.C. 2002
•	PROGRAMACION SOBRE EL PAQUETE DE MACROMEDIA®, Seminario de grado para recibir el titulo de Ingeniero de sistemas.
Universidad Autónoma de Colombia
Bogotá D.C. 2002

                      </p>
                      <h5 class="mb-4 font-weight-bold">DIPLOMADO </h5>    
                      <p>
                        •	Programación de software 
universidad nueva granada, 2011
                      </p>

                      <h5 class="mb-4 font-weight-bold">CERTIFICACION </h5>    
                      <p>
                        •	MCTS Web Applications Development with Microsoft .NET Framework 4
                        •	MTA (Microsoft Technology Associate), Valida los conocimientos Fundamentales en tecnología
                        •	Desarrollador de Aplicaciones Hidridas Full STACK
                        

                      </p>

                  </div>
                  <div class="col-md-12 pt-4">
                      <div class="d-flex flex-column skills">
                          <div class="w-100 mb-4">
                            <ngb-progressbar type="primary" [value]="80" [striped]="true" [animated]="true">Adaptability</ngb-progressbar>
                          </div>
                          <div class="w-100 mb-4">
                            <ngb-progressbar type="primary" [value]="90" [striped]="true" [animated]="true">Research</ngb-progressbar>
                          </div>
                          <div class="w-100">
                            <ngb-progressbar type="primary" [value]="100" [striped]="true" [animated]="true">Editing</ngb-progressbar>
                          </div>
                      </div>
                  </div> -->
              </div>
          </div>
          <!-- About End -->
