<div class="wrapper">
  <div class="sidebar">
    <app-sidebarperfil></app-sidebarperfil>
  </div>  
  <div class="content">
    <app-header></app-header>
    <router-outlet></router-outlet>
    
      <!-- <app-home></app-home>
      <app-about></app-about>
       <app-blog></app-blog>
       <app-single></app-single>
       <app-contact></app-contact>-->
    <app-footer></app-footer>
  </div>
</div>
 <!-- Back to Top -->
 <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>


