 <!-- Footer Start -->
 <div class="container py-4 bg-secondary text-center">
  <p class="m-0 text-white">
      &copy; <a class="text-white font-weight-bold" href="#">Template HV</a>. All Rights Reserved {{annio}}. Designed by <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
  </p>
<!-- Contador de visitas -->
<!-- <a href="https://websmultimedia.com/contador-de-visitas-gratis" title="Contador De Visitas Gratis">
  <img style="border: 0px solid; display: inline;" 
  alt="contador de visitas" 
  src="https://websmultimedia.com/contador-de-visitas.php?id=5789"></a>
  <br>   -->
  <!-- Fin Contador de visitas -->
</div>
<!-- Footer End -->